:root {
  box-sizing: border-box;
  font-size: 15px;
}

* {
  font-size: 1.15rem;
}

h2 {
  border-bottom: 4px solid red;
}

h3 {
  border-bottom: 3px solid coral;
}

.order-total,
.order-status,
.premades {
  display: none;
}
